@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@600&display=swap");
@import "https://unpkg.com/open-props";
:root{
  --text-shadow: -1.5px -1.5px 10px  #098FB3;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  font-family: "Kanit", sans-serif; 
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.2) 100%), url(images/beach-1449008_1920.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

header {
  background: none;
  height: min-content;
}

.hamburguer-menu {
    width: 3.5rem;
    height: 3rem;
    position: fixed;
    top: 5rem;
    right: 5rem;
    z-index: 20;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .line {
    width: 100%;
    height: 0.3rem;
    background-color: #eee;
    transition: all 0.8s;
  }
  
  .change .line-1 {
    transform: rotateZ(-405deg) translate(-0.8rem, 0.6rem);
  }
  
  .change .line-2 {
    opacity: 0;
  }
  
  .change .line-3 {
    transform: rotateZ(405deg) translate(-0.8rem, -0.6rem);
  }
  .navbar {
    width: 30rem;
    height: 100%;
    background-color: #262626;
    position: fixed;
    top: 0;
    right: -300rem;
    z-index: 60;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60% 0 0 60%;
    transition: right 0.84s cubic-bezier(1, 0, 0, 1);
  }
  
  .change {
    right: 0;
  }
  
  .nav-list {
    text-align: right;
  }
  
  .nav-item {
    list-style: none;
    margin: 2.5rem;
  }
  
  .nav-link {
    text-decoration: none;
    font-size: 2.5rem;
    color: #eee;
    font-weight: 300;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    position: relative;
    padding: 0.2rem 0;
  }
  
  .nav-link::before,
  .nav-link::after {
    content: "";
    width: 100%;
    height: 0.2rem;
    background-color: #eee;
    position: absolute;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.5s;
  }
  
  .nav-link::after {
    bottom: 0;
    transform-origin: right;
  }
  
  .nav-link::before {
    top: 0;
    transform-origin: left;
  }
  
  .nav-link:hover::before,
  .nav-link:hover::after {
    transform: scaleX(1);
  }

  .wraper{
  width: 90%;
  height: 90%;
    
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(6, minmax(5rem, 1fr));
  grid-template-rows: 6%, 6%, 21.5%, 10%, 28.25%, 28.25%;
  grid-template-areas: 
  "eside eside etop etop etop etop"
  "eside eside etop etop etop etop"
  "esdie esdie journy journy journy journy"
  "esdie esdie journy journy journy journy"
  "smedia smedia form form form form"
  "smedia smedia form form form form"
  ;
}

.top-empty{
    grid-area: eside;
    width: 100%;
    height: 100%;
}
.side-empty{
    grid-area: eside;
    width: 100%;
    height: 100%;
    
}

.text{
    grid-area: journy;
    font-size: 3em;
  color: white;
  width: 100%;
  padding: 2rem;
  text-align: center;
  animation: var(--animation-slide-in-right);
  animation-duration:  2000ms;
  }

  .slogan{
    font-size: 3.5rem;
    text-shadow: var(--text-shadow);
    animation: var(--animation-slide-in-right);
  animation-duration:  2000ms;
  }

  .form-container{
    grid-area: form;
    line-height: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;   
    animation: var(--animation-slide-in-up);
    animation-duration:  2500ms;
  }


  .name-container input{
    border-radius: 1rem;
    border: .2rem solid white;
    height: 3rem;
  }

  .name-container input::placeholder{
    padding-left: 1rem;
  }

  .email-container input{
    border-radius: 1rem;
    border: .2rem solid white;
    height: 3rem;
  }

  .email-container input::placeholder{
    padding-left: 1rem;
  }

  .message-container textarea{
    border-radius: 1rem;
    border: .2rem solid white;
  }

  .message-container textarea::placeholder{
    padding-left: 1rem;
  }
 
  .button-container{
    position: relative;
    width: 21rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: -.5rem;
  }

  .button{
    position: absolute;
    left: 3.5rem;
    width: 15rem;
    
    border-radius: 1.3rem;
    border: .2rem solid white;
    background-color: #054658;
    font-weight: 600;
    cursor: pointer;
    margin-top: 1rem;
  }

  .button:hover{
    background-color: #098FB3
  }

  .btn-txt{
    color: #ffffff;
    font-family: "Kanit", sans-serif;
    font-size: 1.7rem;
  }

  .btn-icon{
    position: absolute;
    color: white;
    right: 2rem;
    top: .6rem;
    
  }

  .social-media{
    grid-area: smedia;
    height: 100%;
    width:  100%;
    animation: var(--animation-slide-in-right);
  animation-duration:  2500ms;    
  }

  .inner1, .inner2{
    display: flex;
    justify-content: space-around;
    padding: 5rem;
    
  }

  
  .fa-linkedin, .fa-github{
    color: white;
    height: 45%;    
    background-color: #054658;;
    border-radius: 50%;
    border: .5rem solid white;
    padding: 3rem;      
  }
  

   .fa-twitter-square, .fa-instagram-square, .fa-facebook{
    color: white;
    height: 30%;    
    background-color: #054658; 
    border-radius: 50%;
    border: .5rem solid white;
    padding: 3rem;
  }

  .fa-linkedin:hover, .fa-github:hover, .fa-twitter-square:hover, .fa-instagram-square:hover, .fa-facebook:hover{
    background-color: #098FB3;
  }

  


  @media(max-width: 700px){
    .wraper{
      display: grid;
    grid-template-columns: repeat(6, minmax(5rem, 1fr));
    grid-template-rows: auto;
    grid-template-areas: 
    
    "journy journy journy journy esdie esdie"
    "journy journy journy journy esdie esdie"
    "smedia smedia smedia smedia smedia smedia"
    ". form form form form ."
    }

    .text p{
      font-size: 1.95rem;
      text-shadow: -1.5px -1.5px 10px  #030303;;
    }

    .slogan{
      font-size: 2.5rem;
    }
    .name-container{
      width: 50px;
    }

    .fa-linkedin, .fa-github{
      height: 30%;
    
      padding: 3rem;    
    }
  
     .fa-twitter-square, .fa-instagram-square, .fa-facebook{
      height: 30%;
      
      padding: 2rem;
    }
  
    
  }
