@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@600&display=swap");
@import "https://unpkg.com/open-props";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  
}

html {
  font-size: 10px;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.2) 100%), url(images/astronomy-1850461_1920.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
 }

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  padding-top: 25%;
}

.form {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.form input {
  font-family: "Kanit", sans-serif;
  font-style: italic;
}

.visitor-name {
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
  height: 10rem;
  font-size: 4rem;
  text-align: center;
  color: white;
  text-shadow: -1px -1px 1px #098FB3, -2px -2px 2px white;
  text-transform: uppercase;
  margin-top: -25%;
  animation: var(--animation-float);
  
}

.visitor-name::placeholder {
  text-align: center;
  font-size: 4rem;
  color: white;
  text-shadow: -1px -1px 1px #098FB3, -2px -2px 2px white;
  text-transform: uppercase;
  opacity: .65;
}

.btn {
  background: none;
  text-align: center;
  font-size: 4rem;
  color: white;
  text-shadow: -1px -1px 1px #098FB3, -2px -2px 2px white;
  text-transform: uppercase;
  outline: none;
  border: none;
  

}
.btn{
    animation: var(--animation-float);
    width: 100%;
}

.btn:hover{
    cursor: pointer;
    animation: var(--animation-scale-up) forwards;
    animation-duration: 2000ms;
    
    
}

@media (min-width: 1440px){
  html{
    font-size: 15px
  }
}