@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@600&display=swap");
@import "https://unpkg.com/open-props";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  font-family: "Kanit", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 5rem;
  color: rgb(210, 213, 233);
  z-index: 10;
  line-height: 8rem;
  margin-bottom: 15%;
  background: linear-gradient(to bottom, #ffffff 0%, #000000 0%);
  font-weight: 700px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: -5px -5px 1px #76a0e7;
  opacity: 80;
  animation: var(--animation-slide-in-right) forwards;
  animation-duration: 3000ms;
}

.link-container {
  height: auto;
  z-index: 1;
  position: absolute;
  top: 80%;
  text-align: center;
  font-size: 4rem;
  color: rgb(210, 213, 233);
  background: linear-gradient(to bottom, #ffffff 0%, #000000 0%);
  font-weight: 700px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: -5px -5px 1px #76a0e7;
  animation: var(--animation-slide-in-left) forwards;
  animation-duration: 3500ms;
}

.link-container a {
  text-decoration: none;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.color-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgb(90, 100, 226);
  opacity: 0.5;
}

