@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@600&display=swap");
@import "https://unpkg.com/open-props";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  font-family: "Kanit", sans-serif;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.2) 100%), url(images/earth-ge113a6ad7_1920.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


header{
  background: none;
}

.hamburguer-menu{
  width: 3.5rem;
  height: 3rem;
  position: fixed;
  top: 5rem;
  right: 5rem;
  z-index: 2;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.line{
  width: 100%;
  height: .3rem;
  background-color: #eee;
  transition: all .8s;
}

.change .line-1{
transform: rotateZ(-405deg) translate(-.8rem, .6rem);
}

.change .line-2{
  opacity: 0;
}

.change .line-3{
  transform: rotateZ(405deg) translate(-.8rem, -.6rem);
}
.navbar{
  width: 30rem;
  height: 100%;
  background-color: #262626;
  position: fixed;
  top: 0;
  right: -300rem;
  z-index: 60;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 60% 0 0 60%;
  transition: right .84s cubic-bezier(1, 0, 0, 1);
}

.change{
  right: 0;
}

.nav-list{
  text-align: right;
}

.nav-item{
  list-style: none;
  margin: 2.5rem;
}

.nav-link{
  text-decoration: none;
  font-size: 2.5rem;
  color: #eee;
  font-weight: 300;
  letter-spacing: .1rem;
  text-transform: uppercase;
  position: relative;
  padding: .2rem 0;
}

.nav-link::before,
.nav-link::after{
  content: "";
  width: 100%;
  height: .2rem;
  background-color: #eee;
  position: absolute;
  left: 0;
  transform: scaleX(0);
  transition: transform .5s;
}

.nav-link::after{
  bottom: 0;
  transform-origin: right;
}

.nav-link::before{
  top: 0;
  transform-origin: left;
}

.nav-link:hover::before,
.nav-link:hover::after{
  transform: scaleX(1);
}

.main {
  
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

h1 {
  font-size: 4rem;
  text-align: center;
  color: white;
  text-shadow: -1px -1px 1px #098FB3, -2px -2px 2px white;
  text-transform: uppercase;
  margin-top: -13%;
  animation: var(--animation-float);
  animation: var(--animation-slide-in-right) forwards;
  animation-duration: 3000ms;
}

.link-container {
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  width: min-content;
  animation: var(--animation-slide-in-up) forwards;
  animation-duration: 3500ms;
  
}

.link-container a {
  text-decoration: none;
  font-size: 4rem;
  text-align: center;
  color: white;
  text-shadow: -1px -1px 1px #098FB3, -2px -2px 2px white;
  text-transform: uppercase;  
}






